@reference 'tailwindcss';

.route-navigation-list {
    box-shadow: inset 2px 0 5px -6px light-dark(#000000, #ffffff);
    @apply mt-8 col-span-4 h-full overflow-y-auto [scrollbar-width:none] [&::-webkit-scrollbar]:hidden snap-y snap-proximity dark:bg-gray-900;
}

ol {
    @apply list-none pl-8 pr-8;
}

.route-info-container-grid {
    height: 80%;
    @apply grid grid-cols-6 mt-8;
}

.route-info-container {
    background-color: white;
    height: 95%;
    width: 25%;
    top: 5%;
    @apply absolute left-0 dark:bg-gray-900 drop-shadow-sm;
}

.ghost-list-item {
    @apply mb-5 pt-5 snap-start;
}

.route-list-item-active {
    @apply border-4 border-gray-200;
}
